*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
header{
    background-color: black;
    color: white;
    width: 100%;
}
footer{
    background-color: black;
    color: white;
    width: 100%;

    text-align: center;
    left: 0;
    bottom: 0;
    padding: 20px;
    height: 50px;
    margin-top: 10px;
}
.nav{
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5vw;
    border-radius: 5px;
}
h1{
    text-align: center;
    font-size: 40px;
}
h2{
    color: brown;
    font-size: 25px;
}
h4{
    color: brown;
    font-size: 20px;
}
p{
    font-size: 15px;
    color: black;
}
.img{
    width: 50%;
}
img{
    width: 400px;
    display: inline-block;
}
form{
    display: inline-block;
    width: 80%;
    color: black;
    background: rgba(179, 137, 137, 0.3);
    margin: 5% 5%;
    padding: 2%;
    border-radius: 5px; 
    box-sizing: border-box;
}
label,input{
    font-size: 15px;
}
input[type=text],input[type=number],input[type=date],input[type=textArea] select{
    width: 80%;
    border-radius: 5px;
    display: inline-block;
}
textarea{
    width: 80%;
}
input[type=submit]{
    width: 80%;
    background-color: #0c640c;
    color: white;  
    margin: 8px 0;
    padding: 14px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: navy;
}
.redes{
    color: greenyellow;
    font-size: 2vw;
    text-align: center;
}
.redes:hover{
    color: blueviolet;
}